h1 {
    margin: 20px 10px; 
}


.list-group-item{
    display: flex;
    justify-content: space-between;
}


.btn-danger {
    border-radius: 1px;
}

.navbar-nav {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items:center;

}

.navbar-nav a {
    text-decoration: none;
    color: grey;
}


.card-main {
    width: 57%;
    margin-left: 268px;
    margin-top: 79px;
}