h1 {
    margin: 20px 10px; 
}


.list-group-item{
    display: flex;
    justify-content: space-between;
}


.btn-danger {
    border-radius: 1px;
}

.container-nav {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items:center;
}