.container-nav {
    display: flex;
    justify-content: space-between;
}

.box-shadow{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}



.container_main{
    width: 75% !important;
    margin-left: 460px !important;
}